## Environment
condaActivate=/nfs/leia/research/flicek/user/rimoldi/Anaconda2/etc/profile.d/conda.sh
condEnv=MSeek

## Variables
# Paths
Genomes=/nfs/leia/research/flicek/user/rimoldi/Genomes/98
Methylomes=/nfs/leia/research/flicek/user/rimoldi/Projects/EDM/BS/Methylome_bedfiles
OutDir=/nfs/leia/research/flicek/user/rimoldi/Projects/EDM/Annotations

species=(Homo_sapiens Macaca_mulatta Mus_musculus Rattus_norvegicus Canis_familiaris)
tissues=(Liver)

# emboss parameters
window=100 # default: 100
minlen=200 # default: 200
minoe=0.6 # default: 0.6
minpc=50.0 # default: 50.
graph=png

declare -A conv
conv[Homo_sapiens]=Human
conv[Macaca_mulatta]=Macaque
conv[Mus_musculus]=Mouse
conv[Rattus_norvegicus]=Rat
conv[Canis_familiaris]=Dog
