## Environment
# conda activate EDM
condaActivate=/nfs/leia/research/flicek/user/rimoldi/Anaconda2/etc/profile.d/conda.sh
condEnv=EDM

## Variables
# Paths
MethDir=/nfs/leia/research/flicek/user/rimoldi/Projects/EDM/BS/Methylome_bedfiles
PeaksDir=/nfs/leia/research/flicek/user/rimoldi/Projects/EDM/ChIPseq/Peaks/Final
OutDir=/nfs/leia/research/flicek/user/rimoldi/Projects/EDM/BPR

# n: peak extension. number of bp per side from peak summit
n=600

# List file basenames
comb="CEBPA_Dog_Liver
CEBPA_Human_Liver
CEBPA_Macaque_Liver
CEBPA_Mouse_Liver
CEBPA_Rat_Liver
CTCF_Dog_Liver
CTCF_Human_Liver
CTCF_Macaque_Liver
CTCF_Mouse_Liver
CTCF_Rat_Liver
FoxA1_Dog_Liver
FoxA1_Human_Liver
FoxA1_Mouse_Liver
FoxA1_Rat_Liver
HNF4a_Dog_Liver
HNF4a_Human_Liver
HNF4a_Macaque_Liver
HNF4a_Mouse_Liver
HNF4a_Rat_Liver
HNF6_Human_Liver
HNF6_Macaque_Liver
HNF6_Mouse_Liver
HNF6_Rat_Liver"

# parameters M K
declare -A param
param[CEBPA_Human_Liver]="4 4"
param[CEBPA_Macaque_Liver]="4 4"
param[CEBPA_Mouse_Liver]="4 4"
param[CEBPA_Rat_Liver]="4 4"
param[CEBPA_Dog_Liver]="4 4"
param[CTCF_Human_Liver]="7 3"
param[CTCF_Macaque_Liver]="6 3"
param[CTCF_Mouse_Liver]="5 3"
param[CTCF_Rat_Liver]="6 3"
param[CTCF_Dog_Liver]="8 3"
param[FoxA1_Human_Liver]="5 4"
param[FoxA1_Mouse_Liver]="4 4"
param[FoxA1_Rat_Liver]="4 4"
param[FoxA1_Dog_Liver]="4 4"
param[HNF4a_Human_Liver]="5 4"
param[HNF4a_Macaque_Liver]="4 4"
param[HNF4a_Mouse_Liver]="4 4"
param[HNF4a_Rat_Liver]="4 4"
param[HNF4a_Dog_Liver]="4 4"
param[HNF6_Human_Liver]="3 4"
param[HNF6_Macaque_Liver]="4 4"
param[HNF6_Mouse_Liver]="3 4"
param[HNF6_Rat_Liver]="5 4"

# cluster names
declare -A clust
clust[CEBPA_Human_Liver_1]="up"
clust[CEBPA_Human_Liver_2]="right"
clust[CEBPA_Human_Liver_3]="left"
clust[CEBPA_Human_Liver_4]="flat"
clust[CEBPA_Macaque_Liver_1]="flat"
clust[CEBPA_Macaque_Liver_2]="left"
clust[CEBPA_Macaque_Liver_3]="right"
clust[CEBPA_Macaque_Liver_4]="up"
clust[CEBPA_Mouse_Liver_1]="left"
clust[CEBPA_Mouse_Liver_2]="up"
clust[CEBPA_Mouse_Liver_3]="right"
clust[CEBPA_Mouse_Liver_4]="flat"
clust[CEBPA_Rat_Liver_1]="flat"
clust[CEBPA_Rat_Liver_2]="up"
clust[CEBPA_Rat_Liver_3]="right"
clust[CEBPA_Rat_Liver_4]="left"
clust[CEBPA_Dog_Liver_1]="up"
clust[CEBPA_Dog_Liver_2]="left"
clust[CEBPA_Dog_Liver_3]="right"
clust[CEBPA_Dog_Liver_4]="flat"
clust[CTCF_Human_Liver_1]="middle"
clust[CTCF_Human_Liver_2]=up
clust[CTCF_Human_Liver_3]="flat"
clust[CTCF_Macaque_Liver_1]=flat
clust[CTCF_Macaque_Liver_2]="middle"
clust[CTCF_Macaque_Liver_3]="up"
clust[CTCF_Mouse_Liver_1]="flat"
clust[CTCF_Mouse_Liver_2]="middle"
clust[CTCF_Mouse_Liver_3]="up"
clust[CTCF_Rat_Liver_1]="flat"
clust[CTCF_Rat_Liver_2]="up"
clust[CTCF_Rat_Liver_3]="middle"
clust[CTCF_Dog_Liver_1]="flat"
clust[CTCF_Dog_Liver_2]="up"
clust[CTCF_Dog_Liver_3]="middle"
clust[FoxA1_Human_Liver_1]="right"
clust[FoxA1_Human_Liver_2]="flat"
clust[FoxA1_Human_Liver_3]="left"
clust[FoxA1_Human_Liver_4]="up"
clust[FoxA1_Mouse_Liver_1]="left"
clust[FoxA1_Mouse_Liver_2]="up"
clust[FoxA1_Mouse_Liver_3]="right"
clust[FoxA1_Mouse_Liver_4]="flat"
clust[FoxA1_Rat_Liver_1]="right"
clust[FoxA1_Rat_Liver_2]="flat"
clust[FoxA1_Rat_Liver_3]="left"
clust[FoxA1_Rat_Liver_4]="up"
clust[FoxA1_Dog_Liver_1]="up"
clust[FoxA1_Dog_Liver_2]="right"
clust[FoxA1_Dog_Liver_3]="left"
clust[FoxA1_Dog_Liver_4]="flat"
clust[HNF4a_Human_Liver_1]="right"
clust[HNF4a_Human_Liver_2]="flat"
clust[HNF4a_Human_Liver_3]="left"
clust[HNF4a_Human_Liver_4]="up"
clust[HNF4a_Macaque_Liver_1]="left"
clust[HNF4a_Macaque_Liver_2]="right"
clust[HNF4a_Macaque_Liver_3]="flat"
clust[HNF4a_Macaque_Liver_4]="up"
clust[HNF4a_Mouse_Liver_1]="left"
clust[HNF4a_Mouse_Liver_2]="up"
clust[HNF4a_Mouse_Liver_3]="right"
clust[HNF4a_Mouse_Liver_4]="flat"
clust[HNF4a_Rat_Liver_1]="flat"
clust[HNF4a_Rat_Liver_2]="left"
clust[HNF4a_Rat_Liver_3]="up"
clust[HNF4a_Rat_Liver_4]="right"
clust[HNF4a_Dog_Liver_1]="up"
clust[HNF4a_Dog_Liver_2]="left"
clust[HNF4a_Dog_Liver_3]="flat"
clust[HNF4a_Dog_Liver_4]="right"
clust[HNF6_Human_Liver_1]="up"
clust[HNF6_Human_Liver_2]="flat"
clust[HNF6_Human_Liver_3]="left"
clust[HNF6_Human_Liver_4]="right"
clust[HNF6_Macaque_Liver_1]="up"
clust[HNF6_Macaque_Liver_2]="right"
clust[HNF6_Macaque_Liver_3]="left"
clust[HNF6_Macaque_Liver_4]="flat"
clust[HNF6_Mouse_Liver_1]="flat"
clust[HNF6_Mouse_Liver_2]="right"
clust[HNF6_Mouse_Liver_3]="up"
clust[HNF6_Mouse_Liver_4]="left"
clust[HNF6_Rat_Liver_1]="right"
clust[HNF6_Rat_Liver_2]="flat"
clust[HNF6_Rat_Liver_3]="left"
clust[HNF6_Rat_Liver_4]="up"
