### CONFIG FILE FOR TFbindingDivergence.sh ###
# environment /  module
#conda activate EDM
condaActivate=/nfs/leia/research/flicek/user/rimoldi/Anaconda2/etc/profile.d/conda.sh
condEnv=EDM

### paths and variables
otpDir=/nfs/leia/research/flicek/user/rimoldi/Projects/EDM/TFbindingDivergence
BRs=/nfs/leia/research/flicek/user/rimoldi/Projects/EDM/BSvsChip/BindingRegions
Meth=/nfs/leia/research/flicek/user/rimoldi/Projects/EDM/BS/Methylome_bedfiles
Tab=/nfs/leia/research/flicek/user/rimoldi/Projects/EDM/FinalTables/Tables_old
Genomes=/nfs/leia/research/flicek/user/rimoldi/Genomes/98
Motifs=/nfs/leia/research/flicek/user/rimoldi/Projects/EDM/MotifAnalysis/MEME50

###
TFs=(CEBPA HNF4a HNF6 CTCF FoxA1)
comb="CEBPA_Dog
CEBPA_Human
CEBPA_Macaque
CEBPA_Mouse
CEBPA_Rat
CTCF_Dog
CTCF_Human
CTCF_Macaque
CTCF_Mouse
CTCF_Rat
FoxA1_Dog
FoxA1_Human
FoxA1_Mouse
FoxA1_Rat
HNF4a_Dog
HNF4a_Human
HNF4a_Macaque
HNF4a_Mouse
HNF4a_Rat
HNF6_Human
HNF6_Macaque
HNF6_Mouse
HNF6_Rat"

declare -A TFalign
TFalign[homo_sapiens]="macaca_mulatta mus_musculus rattus_norvegicus canis_familiaris"
TFalign[macaca_mulatta]="homo_sapiens mus_musculus rattus_norvegicus canis_familiaris"
TFalign[mus_musculus]="homo_sapiens macaca_mulatta rattus_norvegicus canis_familiaris"
TFalign[rattus_norvegicus]="homo_sapiens macaca_mulatta mus_musculus canis_familiaris"
TFalign[canis_familiaris]="homo_sapiens macaca_mulatta mus_musculus rattus_norvegicus"


declare -A nick
nick[homo_sapiens]=Human
nick[macaca_mulatta]=Macaque
nick[mus_musculus]=Mouse
nick[rattus_norvegicus]=Rat
nick[canis_familiaris]=Dog

declare -A nickM
nickM[Homo_sapiens]=Human
nickM[Macaca_mulatta]=Macaque
nickM[Mus_musculus]=Mouse
nickM[Rattus_norvegicus]=Rat
nickM[Canis_familiaris]=Dog

declare -A revnick
revnick[Human]=Homo_sapiens
revnick[Macaque]=Macaca_mulatta
revnick[Mouse]=Mus_musculus
revnick[Rat]=Rattus_norvegicus
revnick[Dog]=Canis_familiaris
